


.ai-header {
    position: relative;
    padding: 3rem 0 10rem 0;
    background-color: var(--midnight-blue);
    overflow: hidden;
}

.ai-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5rem;
    position: relative;
    z-index: 2;
}

.ai-header-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--navy-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 40px rgb(0 0 0 / 20%);
}
.ai-header-icon svg {
    width: 2.4rem;
}

.ai-header-box{
    width: 80%;
    max-width: 52.5rem;
    color: var(--white-color);
    text-align: center;
}

.ai-header-copy {
    margin-top: 2rem;
    text-align: center;
}

.robohand-header{
    width: 90%;
    max-width: 62rem;
    margin-top: 3rem;
}
.robohand-header img{
    width: 100%;
}

.blur-circle.circle-ai{
    width: 31.25rem;
    height: 31.25rem;
}

.blur-circle.circle-ai.circle-pink.circle-ai-pink-1{
    top: -22%;
    transform: translateX(-200%);
}
.blur-circle.circle-ai.circle-violet.circle-ai-violet-1{
    top: -4%;
    transform: translateX(-140%);
}

.blur-circle.circle-ai.circle-pink.circle-ai-pink-2 {
    transform: translateX(-131%) scale(.65);
    bottom: 28%;
    opacity: .7;
}

.blur-circle.circle-ai.circle-violet.circle-ai-violet-2{
    top: -4%;
    transform: translateX(120%);
}
.blur-circle.circle-ai.circle-violet.circle-ai-violet-3{
    bottom: 22%;
    transform: translateX(0%) scale(.85);
}

.ai-custom-solutions{
    background-color: var(--midnight-blue);
    position: relative;
    padding: 3rem 0;
    min-height: 50vh;
}

.ai-custom-wrapper{
    position: relative;
    z-index: 2;
}

.ai-custom-wrapper h3{
    text-align: center;
    color: var(--white-color);
}

/******** INDUSTRIES ********/

.aiIndustryWrapper{
    position: relative;
    overflow: hidden;
    min-height: 56rem;
    padding: 5rem 0 5rem 0;
    background-color: var(--navy-blue);
}

.aiIndustryWrapper h3{
    color: var(--white-color);
}




.ai-industry-list {
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}

.ai-solutions {
    position: relative;
    overflow: hidden;
    padding: 3rem 0 3rem 0;
}
.ai-solutions-wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
}
.ai-solutions-item{
    display: flex;
    column-gap: 2.375rem;
}
.ai-solutions-item-ico{
    width: 5.6rem;
    height: 5.6rem;
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
}

.ai-solutions-item-ico img{
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.ai-solutions-item h6 {
    font-size: 1.125rem;
    margin-bottom: .7rem;
    color: var(--white-color);
}
.ai-solutions-item p {
    font-size: 0.75rem;
    color: var(--light-gray);
    
}

.ai-solutions-list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5.5rem;
}

@media (max-width: 900px) {

    .ai-solutions-wrapper {
        padding: 0;
    }

}

@media (max-width: 600px) {
    .ai-industry-list {
        margin-bottom: 2rem;
    }
    .ai-solutions-list-wrapper {
        row-gap: 3rem;
    }
    .ai-solutions-item {
        flex-direction: column;
        row-gap: 0.75rem;
    }
    .ai-solutions-item-ico {
        justify-content: flex-start;
        width: 2.75rem;
        height: 2.75rem;
    }
}

