


.ai-header {
    position: relative;
    padding: 3rem 0 10rem 0;
    background-color: var(--midnight-blue);
    overflow: hidden;
}

.ai-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.5rem;
    position: relative;
    z-index: 2;
}

.ai-header-icon {
    width: 5rem;
    height: 5rem;
    background-color: var(--navy-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 40px rgb(0 0 0 / 20%);
}
.ai-header-icon svg {
    width: 2.4rem;
}

.ai-header-box{
    width: 80%;
    max-width: 52.5rem;
    color: var(--white-color);
    text-align: center;
}

.ai-header-copy {
    margin-top: 2rem;
    text-align: center;
}

.robohand-header{
    width: 90%;
    max-width: 62rem;
    margin-top: 3rem;
}
.robohand-header img{
    width: 100%;
}

.blur-circle.circle-ai{
    width: 31.25rem;
    height: 31.25rem;
}

.blur-circle.circle-ai.circle-pink.circle-ai-pink-1{
    top: -22%;
    transform: translateX(-200%);
}
.blur-circle.circle-ai.circle-violet.circle-ai-violet-1{
    top: -4%;
    transform: translateX(-140%);
}

.blur-circle.circle-ai.circle-pink.circle-ai-pink-2 {
    transform: translateX(-131%) scale(.65);
    bottom: 28%;
    opacity: .7;
}

.blur-circle.circle-ai.circle-violet.circle-ai-violet-2{
    top: -4%;
    transform: translateX(120%);
}
.blur-circle.circle-ai.circle-violet.circle-ai-violet-3{
    bottom: 22%;
    transform: translateX(0%) scale(.85);
}

.ai-custom-solutions{
    background-color: var(--midnight-blue);
    position: relative;
    padding: 3rem 0;
    min-height: 50vh;
}

.ai-custom-wrapper{
    position: relative;
    z-index: 2;
}

.ai-custom-wrapper h3{
    text-align: center;
    color: var(--white-color);
}

/******** INDUSTRIES ********/

.aiIndustryWrapper{
    position: relative;
    overflow: hidden;
    min-height: 56rem;
    padding: 5rem 0 0 0;
    background-color: var(--navy-blue);
}

.aiIndustryWrapper h3{
    color: var(--white-color);
}

.ai-solutions-section{
    display: none;
}