/* Main Colors */
:root {

  --radius20: 1.25rem; 
  --white-color: #fff;
  --black-color: #000;
  --midnight-blue: #222F3E;
  --navy-blue: #3E5266;
  --pale-blue: #CBD2DE;
  --deep-blue: #002136;
  --royal-purple: #341F97;
  --heart-purple: #5F27CD;
  --vivid-purple: #6C5CE7;
  --sunset-gold: #FECA57;
  --tangerine-orange: #FF9F43;
  --green-mint: #1DD1A1;
  --azure-blue: #74B9FF;
  --sky-blue: #48DBFB;
  --light-purple: #A29BFE;
  --orchid-pink: #F368E0;
  --rose-red: #E84393;
  --crimson-red: #EE5253;
  --slate-gray: #718096;
  --light-gray: #F4F5F7;

  --logo-white: invert(1);
  --logo-black: invert(0);

  --gradient-purple-pink-orange: linear-gradient(90deg, 
  #6C5CE7, 
  #F368E0 43.83%, 
  #E84393 64.38%, 
  #EE5253 83.33%, 
  #FF9F43 96.88%
  );

  --gradient-pink-orange: linear-gradient(90deg, 
  #F368E0 0%, 
  #E84393 50%, 
  #FF9F43 100%
  );

  --gradient-orange-pink: linear-gradient(to left, 
  #F368E0 0%, 
  #E84393 50%, 
  #FF9F43 100%
  );

  --gradient-blue-green-orange:linear-gradient(to right, 
  #48DBFB 4.8%, 
  #2ECC71 19.8%, 
  #FECA57 50.5%, 
  #FF9F43 78.1%, 
  #EE5253 95.2%
  );

  --gradient-blue-violet-red: linear-gradient(90deg, 
  #48DBFB, 
  #7F56D9 32.81%, 
  #F368E0 51.04%, 
  #E84393 66.15%, 
  #ED505A 78.64%
  );

  --gradient-orange-violet-pink: linear-gradient(90deg, 
  #FF9F43 6.05%, 
  #EE5253 23.44%, 
  #74B9FF 58.98%, 
  #E84393 81.42%, 
  #F368E0 96.88%
  );

  --gradient-pink-violet-blue: linear-gradient(to right, 
  #F368E0 0%, 
  #6C5CE7 25.52%, 
  #0984E3 52.60%, 
  #0ABDE3 72.92%, 
  #00CEC9 100%);

  --gradient-blue-violet-pink: linear-gradient(to right, 
  #0ABDE3 50.61%, 
  #74B9FF 61.17%, 
  #A29BFE 88.89%, 
  #F368E0 94.14%);

  --gradient-blue-violet-pink-balanced: linear-gradient(to right, 
  #0ABDE3 12.83%, 
  #6C5CE7 48.33%, 
  #F368E0 89.12%);

  --gradient-orange-pink-violet-blue: linear-gradient(115deg, 
  #FF9F43 10%, 
  #F368E0 37.55%, 
  #6C5CE7 70.58%, 
  #0ABDE3 90%);

  --gradient-green-darkviolet: linear-gradient(to right, 
  #1DD1A1, 
  #341F97 34.0683%,
  #222F3E 62.9529%);

  --gradient-darkviolet-green: linear-gradient(to left, 
  #1DD1A1, 
  #341F97 34.0683%,
  #222F3E 62.9529%);

  --gradient-green-violet: linear-gradient(to left, 
  #6C5CE7 2.18%, 
  #48DBFB 76.85%, 
  #55EFC4 43.97%);

  --gradient-violet-green: linear-gradient(to right, 
  #6C5CE7 2.18%, 
  #48DBFB 76.85%, 
  #55EFC4 43.97%);


  --gradient-pink-blue-violet: linear-gradient(to right, 
  #F368E0 10%, 
  #48DBFB 35%, 
  #A29BFE 70%,
  #6C5CE7 90%
  );

  --gradient-violet-pink-red: linear-gradient(to right, 
  #6C5CE7 2.18%, 
  #F368E0 76.85%, 
  #E84393 43.97%);


  --gradient-vertical-green-violet: linear-gradient(180deg, #1DD1A1 4.96473%, #341F97 61.6872%);

  --gradient-vertical-pink-violet:  linear-gradient(180deg, #F368E0 50%, #6C5CE7 50%);

}



.midnightkBttn{
  background-color: var(--midnight-blue);
  color: var(--white-color);
}

.pinkOrangeGradientBttn{
  background: var(--gradient-pink-orange);
  color: var(--white-color);
}
.orangePinkGradientBttn{
  background: var(--gradient-orange-pink);
  color: var(--white-color);
}
.orangePinkGradientBttn{
  background: var(--gradient-orange-pink);
  color: var(--white-color);
}
.blueVioletPinkBttn{
  background: var(--gradient-blue-violet-pink);
  color: var(--white-color);
}

/******* Gradients Texts *******/

.text-pink-orange{
  background: var(--gradient-pink-orange);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-orange-pink{
  background: var(--gradient-orange-pink);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-blue-violet-red {
  background: var(--gradient-blue-violet-red);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-orange-violet-pink {
  background: var(--gradient-orange-violet-pink);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-blue-violet-pink {
  background: var(--gradient-blue-violet-pink);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-violet-green {
  background: var(--gradient-violet-green);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-green-violet {
  background: var(--gradient-green-violet);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-orange-pink-violet-blue{
  background: var(--gradient-orange-pink-violet-blue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-pink-blue-violet{
  background: var(--gradient-pink-blue-violet);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

.text-pink-blue-violet{
  background: var(--gradient-violet-pink-red);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /*display: inline-block;*/
}

